* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table-row {
    padding: 10px;
    border-bottom: 1px solid grey;
    height: 50px;

    font-size: 24px;
    padding: 0 30px;
}

.table-row td, th {
    padding: 0 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

button {
    padding: 5px 20px;
    background-color: rgb(94, 211, 133);
    border: none;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    padding: 5px 20px;
    background-color: rgb(73, 182, 110);
    border: none;
    border-radius: 5px;
}

img {
    width: 288px;
    height: 162px;
}

.images-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 3px;
}

.image-metadata {
    /* display: flex;
    flex-wrap: wrap;
    padding: 10px;
    word-break: break-all;
    max-height: 150px; */
    font-size: 0.8em;
    word-break: break-all;
}

.image-metadata div {
    /* padding: 0px 3px;
    margin: 9px;
    background-color: #d7d7d7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px; */
}

.message {
    background-color: rgb(94, 211, 133);
    padding: 12px;
    margin: 3px;
    border-radius: 20px;
    opacity: 0.9;
}
