<html>
<head>
    <title>Запуск полетов</title>
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
</head>
<script defer src="{{ url_for('static', path='flight.js') }}"></script>
<body>
    <div class="container">
        <a href="/" class="button">Вернуться к списку полетов</a>
        <h1>Полет номер {{ flight_id }}</h1>
        <div>
            <a href="/flights/{{ flight_id }}/defects">Перейти к дефектам полета</a>
            <div> Способ запуска: "{{ flight_info['shooting_type'] }}"</div>
            <div> Количество объектов: {{ flight_info['flight_objects_count'] }}</div>
            <span>Количество изображений: </span><strong>{{ images_number }}</strong>
        </div>
        <div>
            <span> Страницы:</span>
            {% for page in range(1, pages_number + 1) %}
                {% if page != current_page %}
                    <a href="/flights/{{ flight_id }}?page={{ page }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% endfor %}
        </div>
        <div class="images-list">
            {% for image in images %}
            <div class="image-container">
                <a href="/flights/{{ flight_id }}/images/{{ image['id'] }}" alt="{{ image['path'] }}" style="display: flex; justify-content: center;">
                    <img src="/rawimages/{{ image['path'] }}">
                </a>
                <div class="image-metadata">
                    <div style="display: flex; justify-content: space-between;">
                        <span>ID: {{ image['id'] }}</span>
                        <a href="/rawimages/{{ image['path'] }}">Изображение</a>
                    </div>
                    <div>Ракурс: {{ image['shooting_angle_code'] }}</div>
                    <div>Объект: {{ image['flight_object_id'] }}</div>
                    <div>Ошибка: {{ image['error'] }}</div>
                    {% for checks in image['required_checks'] %}
                        <div>{{ checks['code'] }} {{ checks['name'] }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <span>Страницы</span>
            {% for page in range(1, pages_number + 1) %}
            {% if page != current_page %}
                <a href="/flights/{{ flight_id }}?page={{ page }}">{{ page }}</a>
            {% else %}
                <strong>{{ page }}</strong>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
