<html>
<head>
    <title>Запуск полетов</title>
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
</head>
<script defer src="{{ url_for('static', path='flights.js') }}"></script>
<script defer src="{{ url_for('static', path='ws_notification.js') }}"></script>
<body>
    <div class="container">
        <a href="/create" class="button">Перейти к созданию полета</a>
        <h1>Список полетов</h1>
        <table class="table">
            <tr class="table-row">
                <th>ID</th>
                <th>Название</th>
                <th>Тип запуска</th>
                <th>Статус</th>
                <th></th>
            </tr>
            {% for flight in flights %}
            <tr class="table-row">
                <td>
                    <a href="/flights/{{ flight.id }}">{{ flight['id'] }}</a>
                </td>
                <td>{{ flight['name'] }}</td>
                {% if flight['shooting_name'] %}
                    <td>{{ flight['shooting_name'] }}(<span>{{ flight['shooting_description'] }}</span>)</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ flight['status'] }}</td>
                {% if flight['status'] not in ('analysis', 'analysing') %}
                    <td>
                        <button data-flight-id="{{ flight['id'] }}" class="launch-btn">Запустить</button>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <button id="truncate-task-btn" style="background-color: red; margin: 30px;">Удалить все задачи и почистить изображения</button>
        <div id="log"></div>
    </div>
</body>
</html>