<html>
<head>
    <title>Запуск полетов</title>
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
</head>
<script defer src="{{ url_for('static', path='flights_create.js') }}"></script>
<body>
    <div class="container">
        <a href="/" class="button">Перейти к списку полетов</a>
        <h1>Создать полет</h1>
        <form id="form">
            <h4>Выберете папку с изображениями</h4>
            <select name="image_dir">
                {% for dir in dirs %}
                <option data-image-dir="{{ dir }}">{{ dir }}</option>
                {% endfor %}
            </select>
            <fieldset>
                <legend>Быберите Линию</legend>
                {% for line_id, supports in lines.items() %}
                    <div>
                        <input name="line_id" value="{{ line_id }}" type="radio" checked required />
                        <label>
                            {% for support in supports %}
                            <div>
                                <span>{{ support['name'] }}</span>
                            </div>
                            {% endfor %}
                        </label>
                    </div>
                {% endfor %}
            </fieldset>
            <fieldset>
                <legend>Быберите тип запуска</legend>
                <select name="shooting_type_id">
                    {% for shooting_type in shooting_types %}
                    <option value="{{ shooting_type['id'] }}">
                        {{ shooting_type['name'] }} ({{ shooting_type['description'] }})
                    </option>
                    {% endfor %}
                </select>
            </fieldset>
            <input class="submit-btn" type="submit" value="Создать полет">
        </form>

    </div>
</body>
<style>
    select {
        padding: 4px 10px;
        font-size: 18px;
    }

    input {
        margin: auto;
    }

    .submit-btn {
        margin: 10px auto;
    }
</style>
</html>