<html>
<head>
    <title>Запуск полетов</title>
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="/create" class="button">Перейти к созданию полета</a>
        <h1>Обнаруженные дефекты</h1>
        <div>
            {% for defect in defects %}
            <a href="/">
                <div>
                    <span>
                        {{ defect['name'] }}
                      </span>
                      <strong>
                        ({{ defect['count'] }})
                      </strong>
                </div>
            </a>
            {% endfor %}    
        </div>
    </div>
</body>
<style>
    a {
        text-decoration: none;
    }
    a div {
        background-color: #efefef;
        padding: 4px;
        border-radius: 5px;
        margin: 3px;
    }

    a div:hover {
        background-color: #eeecec;
    }
</style>
</html>
