<html>
<head>
    <title>Запуск полетов</title>
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
</head>
<script defer src="{{ url_for('static', path='flight.js') }}"></script>
<body>
    <div class="container">
        <a href="/flights/{{ flight_id }}" class="button">Вернуться к полету</a>
        <h1>Результаты осмотра изображения</h1>
        <div class="images-list">
            {% for defect in defects %}
            <div class="image-container">
                <a href="/rawresults/{{ defect['mask_path'] }}">
                    <img src="/rawresults/{{ defect['mask_path'] }}">
                </a>
                <div class="image-metadata">
                    <div>{{ defect['name'] }}</div>
                    <div>Код: {{ defect['code'] }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if not defects %}
        <div>
            У изображения нет дефектов либо оно еще не обработано
        </div>
        {% endif %}
    </div>
</body>
