<html>
<head>
    <title>Запуск полетов</title>
    <!-- <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet"> -->
</head>
<!-- <script defer src="{{ url_for('static', path='flights.js') }}"></script> -->
<body>
    <div class="container">
        <a href="/create" class="button">Перейти к созданию полета</a>
        <h1>Логи</h1>
    </div>
    {% for log in logs %}
    <div>
        <span class="trace-label">{{ log['trace'] }}</span>
        <details class="{{ 'details-error' if log['error'] else '' }}">
            <summary>
                <span>{{ log['message'] }}</span>
            </summary>
            <div class="payload">{{ log['payload'] }}</div>
        </details>
    </div>
    {% endfor %}
</body>
<style>
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif
    }

    .trace-label {
        position: relative;
        left: 120px;
        top: 15px;
        font-size: 0.8em;
        font-weight: 600;
        cursor: pointer;
    }

    .trace-label:hover {
        background-color: #7777772d;
    }

    details {
        border: 2px solid #c7c7c7;
        cursor: pointer;
        width: 90%;
        margin: 0 auto ;
        background: #a7e5c9;
        margin-bottom: .5rem;
        box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
        border-radius: 5px;
        overflow: hidden;
        padding: 10px;

        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .details-error {
        background-color: #ffabab;
    }

    .payload {
        background-color: #ffffffb0;
        user-select: text;
        padding: 10px;
        border-radius: 5px;
    }

    /* THE MAGIC 🧙‍♀️ */
    details[open] > summary:before {
        transform: rotate(90deg);
    }

    details > ul {
        padding-bottom: 1rem;
        margin-bottom: 0;
    }
</style>
<script>

    const details = document.getElementsByTagName('details');
    Array.from(details).forEach(e => {
        e.onclick = event => {
            event.preventDefault();

            if (event.target.tagName === 'PRE')
                return;

                const opened = e.getAttribute("open");
            if (opened == null) {
                e.setAttribute("open", "");
            }
            else {
                e.removeAttribute("open");
            }
        };
    })
</script>
</html>
