<html>
<head>
    <title>Запуск полетов</title>
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a href="/create" class="button">Перейти к созданию полета</a>
        <h1>Трассировки</h1>
        <div>
            {% for trace in traces %}
            <a style="padding: 20px;" href="/traces/logs?tag={{ trace['url_name'] }}">
                <div>
                    {{ trace['name'] }}
                </div>
            </a>
            {% endfor %}    
        </div>    
    </div>
</body>
</html>
